.footer {
  &__wrapper {
    position: relative;
    margin-left: -20px;
    padding: 15px 150px 51px;

    @include media('<=md-desktop') {
      margin: 0;
    }

    @include media('<=phone') {
      padding: 15px 50px 30px;
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.04em;
    opacity: 0.6;
  }

  &__above18 {
    position: absolute;
    bottom: 45px;
    right: 20px;
  }
}
