.slogan {
  padding: 7px 62px 8px;
  font-weight: 700;
  font-style: normal;
  font-size: 3.30206rem;
  line-height: 4rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(90.52deg, #00b0ff 2.79%, #0726ce 97.86%);
  border-radius: 4.4828px;
  transform: matrix(0.98, 0, -0.22, 1, 0, 0);
}
