html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: $c-main;

  @include media('<=md-desktop') {
    font-size: 8px;
  }

  @include media('<=sm-phone') {
    font-size: 6px;
  }
}
